# Node.js & React
node_modules/
build/

# Dependencies
/.pnp
.pnp.js

# IDE & Editor files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/
*.log

# Other build artifacts
*.class
*.jar
*.war
